---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout
  title="Master's Degree"
  description="A comprehensive hub of resources and links related to my master's degree journey"
  image="/profile.jpeg"
>
  <div class="mt-10 flex flex-col items-center">
    <h1 class="text-4xl">Master's Thesis</h1>
    <ul class="max-w-96 flex flex-col gap-4 mt-8">
      <li class="md:min-w-96 min-w-80">
        <a
          href="https://www.overleaf.com/project/6482050c1c6ea5c00b3344b4"
          class="bg-green-500 hover:bg-green-700 px-8 py-2 mx-4 rounded-full text-white text-center block relative"
          target="_blank"
        >
          <Icon
            name="Overleaf"
            class="absolute left-4 top-1/2 -translate-y-1/2 size-6"
          />
          Master's Thesis - Overleaf
        </a>
      </li>
      <li>
        <a
          href="https://drive.google.com/drive/folders/12XmtEgzXKUfD6ylQFEi4PRTmDYkzd6h7?usp=sharing"
          class="bg-blue-500 hover:bg-blue-700 px-8 py-2 mx-4 rounded-full text-white text-center block relative"
          target="_blank"
        >
          <Icon
            name="GoogleDrive"
            class="absolute left-4 top-1/2 -translate-y-1/2 size-6"
          />
          Folder - Google Drive
        </a>
      </li>
    </ul>
  </div>
</Layout>
