---
import Layout from "@/layouts/Layout.astro";
import { MyIp } from "@/components/tools/my-ip";
---

<Layout
  title="My IP"
  description="A simple way to get your public IP"
  image="/profile.jpeg"
>
  <section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
      <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
        My IP
      </h1>

      <p class="mt-4 text-center text-gray-600 lg:text-lg">
        A simple way to get your public IP
      </p>

      <div class="my-8 lg:mx-40">
        <MyIp client:load />
      </div>
    </div>
  </section></Layout
>
