---
type Props = {
  code: number;
  title: string;
  description: string;
};

const { code, title, description } = Astro.props;
---

<section class="bg-background min-h-full flex items-center">
  <div class="flex flex-col items-center max-w-sm mx-auto text-center">
    <h1 class="text-9xl text-primary">{code}</h1>
    <h1 class="mt-3 text-2xl font-semibold md:text-3xl">
      {title}
    </h1>
    <p class="mt-4 text-offset">{description}</p>

    <a href="/">
      <button
        class="mt-5 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 rounded-lg shrink-0 sm:w-auto bg-primary hover:bg-secondary"
      >
        Back to home
      </button>
    </a>
  </div>
</section>
