---
import Layout from "@/layouts/Layout.astro";
import { PasswordGenerator } from "@/components/tools/password-generator";
---

<Layout
  title="Password Generator"
  description="A simple way to generate a password with the desired length and complexity"
  image="/profile.jpeg"
>
  <section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
      <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
        Password Generator
      </h1>

      <p class="mt-4 text-center text-gray-600 lg:text-lg">
        A simple way to generate a password with the desired length and complexity
      </p>

      <div class="my-8 lg:mx-40">
        <PasswordGenerator client:load />
      </div>
    </div>
  </section>
</Layout>
